@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body, .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: dimgrey
    ;
}

.wrapper{
    width 440px;
    background: rgb(211, 233, 114);
    padding: 20px 20px 28px;
    border-radius: 50px;

}